.wrap {
  padding: 10px;
  flex: 1;
}

.nav {
  display: flex;
}

.wrap h3 {
  font-size: 20px;
}
.bot {
  display: flex;
  flex-direction: column;

  gap: 5px;
}
.bot button {
  width: 100%;
  font-size: 20px;
}
